body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  font-family: "Clear Sans";
  margin: 0;
  padding: 0;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header {
  margin: 12pt 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.ic-search {
  display: block;
  width: 32pt;
  height: 32pt;
  background: url(../images/search-icon.svg) no-repeat center;
}

.ic-basket {
  display: block;
  width: 32pt;
  height: 32pt;
  background: url(../images/basket-icon.svg) no-repeat center;
}

.contrainer {
  margin: 0 16pt;
  padding: 0 5pt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__block span {
  font-family: Georgia !important;
  font-style: italic;
  font-weight: 700;
  font-size: 18pt;
}

.header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav__list .header__nav__item {
  cursor: pointer;
  margin: 0 2vw;
  font-size: 14pt;
}

.basket__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background: rgba(204, 204, 204, 0.5);
  padding: 2pt 8pt 2pt 12pt;
  border-radius: 6pt;
  border: solid 1pt rgba(0, 0, 0, 0.05);
}
.basket__block span {
  font-weight: 700;
  font-size: 14pt;
}
.basket__block .basket__count {
  padding-right: 0 4pt;
}

.main__screen {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.main__screen .banner__slider {
  position: absolute;
  width: 100%;
  height: 100%;
}
.main__screen .banner__slider .banner__container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.main__screen .banner__slider .banner__container .banner__block {
  position: absolute;
  width: 100%;
  top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main__screen .banner__slider .banner__container .banner__block .banner__leftside {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  z-index: -1;
}
.main__screen .banner__slider .banner__container .banner__block .banner__leftside .banner__quote {
  position: absolute;
  right: 0;
  margin-left: 50pt;
  font-size: 60pt;
  font-family: "Arial";
  font-weight: 900;
  max-width: 500pt;
  line-height: 100%;
}
.main__screen .banner__slider .banner__container .banner__block .banner__rightside {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  z-index: 1;
}
.main__screen .banner__slider .banner__container .banner__block .banner__rightside .banner__info {
  position: absolute;
  left: 200pt;
  margin-right: 50pt;
}
.main__screen .banner__slider .banner__container .banner__block .banner__rightside .banner__info .product__tag__list .product__tag__item {
  margin-right: 6pt;
}
.main__screen .banner__slider .banner__container .banner__block .banner__rightside .banner__info .product__tag__list .product__tag__item span {
  padding: 6pt 12pt;
  background: rgba(204, 204, 204, 0.5);
  border-radius: 24pt;
  border: solid 1pt rgba(0, 0, 0, 0.05);
}
.main__screen .banner__slider .banner__container .banner__block .banner__rightside .banner__info .product__tag__list .product__tag__item span.tag-sale {
  background: rgba(248, 56, 56, 0.8);
  color: white;
}
.main__screen .banner__slider .banner__container .banner__block .main__title {
  margin-top: 12pt;
  font-size: 48pt;
  font-family: Georgia !important;
  font-style: italic;
  font-weight: 700;
}
.main__screen .banner__slider .banner__container .banner__block .product__description {
  font-size: 16pt;
  margin-top: 12pt;
}
.main__screen .banner__slider .banner__container .banner__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}