body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Clear Sans';
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    list-style: none;
}

.header {
    margin: 12pt 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.ic-search {
    display: block;
    width: 32pt;
    height: 32pt;
    background: url(../images/search-icon.svg) no-repeat center;
}

.ic-basket {
    display: block;
    width: 32pt;
    height: 32pt;
    background: url(../images/basket-icon.svg) no-repeat center;
}

.contrainer {
    margin: 0 16pt;
    padding: 0 5pt;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__block {
    span {
        font-family: Georgia !important;
        font-style: italic;
        font-weight: 700;
        font-size: 18pt;
    }
}

.header__nav__list {
    display: flex;
    list-style: none;
    font-weight: 700;
    align-items: center;

    .header__nav__item {
        cursor: pointer;
        margin: 0 2vw;
        font-size: 14pt;
    }
}

.basket__block {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: rgba($color: #CCC, $alpha: 0.5);
    padding: 2pt 8pt 2pt 12pt;
    border-radius: 6pt;
    border: solid 1pt rgba($color: #000000, $alpha: 0.05);

    span {
        font-weight: 700;
        font-size: 14pt;
    }

    .basket__count {
        padding-right: 0 4pt;
    }
}

.main__screen {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .banner__slider {

        .banner__container {
            position: absolute;
            width: 100%;
            height: 100%;


            .banner__block {
                position: absolute;
                width: 100%;
                top: 20vh;
                display: flex;
                justify-content: space-around;

                .banner__quote {
                    font-size: 60pt;
                    font-family: 'Arial';
                    font-weight: 900;
                    width: 500pt;
                    line-height: 100%;
                }

                .banner__info {
                    .product__tag__list {

                        .product__tag__item {
                            margin-right: 6pt;

                            span {
                                padding: 6pt 12pt;
                                background: rgba($color: #CCC, $alpha: 0.5);
                                border-radius: 24pt;
                                border: solid 1pt rgba($color: #000000, $alpha: 0.05);
                            }

                            span.tag-sale {
                                background: rgba($color: #F83838, $alpha: 0.8);
                                color: white;
                            }
                        }
                    }
                }



                .main__title {
                    margin-top: 12pt;
                    font-size: 48pt;
                    font-family: Georgia !important;
                    font-style: italic;
                    font-weight: 700;
                }

                .product__description {
                    font-size: 16pt;
                    margin-top: 12pt;
                }
            }

            .banner__image {
                position: absolute;
                left: 25%;
                user-select: none;

            }
        }
    }
}